{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}
{% load i18n %}
{% load currencyfilter %}

{% get_current_language as LANGUAGE_CODE %}

<!-- {% block title %} -->
<!-- Institution - {{ client }} -->
<!-- {% endblock %} -->

<div id="toplevel-messages">
  {% if messages %}
  <ul class="messages">
    {% for msg in messages %}
    <p class="bg-warning" style="padding: 1em">{{ msg }}</p>
    {% endfor %}
  </ul>
  {% endif %}
</div>

<h4>
   {{ client }}
</h4>

<div id="list-content">
      <div class="col-md-9">
        <div class="row">

          <div class="col-md-5">

            <!-- <div class="btn-group">
                 <div class="dropdown">
                 <button
                 id="action-button-id" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-info dropdown-toggle">
                 {% trans "Action" %}
                 <span class="caret"></span>
                 </button>

                 <ul class="dropdown-menu">
                 <li>
                 <a hx-post="/api/institutions/lists/{{ basket.pk }}?action=command"
                 hx-target="#list-content"
                 title="{% trans "Mark all the cards to command" %}">
                 {% trans "Command…" %}</a>
                 </li>

                 <li role="separator" class="divider"></li>
                 <li><a
                 href="#"
                 onclick="empty_basket()"
                 title="{% trans "Empty this list." %}">
                 {% trans "Empty this list" %}</a>
                 </li>
                 <li><a
                 href="#"
                 onclick="archive_basket()"
                 title="{% trans "Archive this list." %}">
                 {% trans "Archive this list" %}</a>
                 </li>
                 </ul>

                 </div>
                 </div>
            -->

            <div class="btn-group">
              <div class="dropdown">
                <button
                    data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false" title="{% trans 'Export the list to the required format' %}" class="btn btn-success dropdown-toggle">{% trans "Export" %}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">

                  <!-- <li><a href="/baskets/{{ 'cur_basket.id' | ng}}/export?format=txt&report=listing">txt</a>
                       </li>
                       <li><a href="/baskets/{{ 'cur_basket.id' | ng}}/export?format=csv&report=listing">{% trans "List" %} - csv</a>
                       </li>
                       <li><a href="/baskets/{{ 'cur_basket.id' | ng}}/export?format=csv&report=simplelisting">{% trans "isbn and quantity (Dilicom)" %} - csv</a>
                       </li>
                       <li><a
                       href="/baskets/{{ 'cur_basket.id' | ng}}/export?format=pdf&report=listing&barcodes=true"
                       >
                       {% trans "List, with barcodes" %} - pdf
                       </a>
                       </li>
                       <li><a
                       href="/baskets/{{ 'cur_basket.id' | ng}}/export?format=pdf&report=listing&barcodes=false&covers=true"
                       >
                       {% trans "List, with covers" %} - pdf</a>
                       </li>

                       <li role="separator" class="divider"></li>

                       <li>
                       <a data-comment="bon de livraison"
                       href="/baskets/{{ 'cur_basket.id' | ng}}/export?format=pdf&report=listing&shippingreceipt=true&barcodes=true&covers=false"
                       title="{% trans 'Create a shipping receipt' %}">
                       {% trans "Shipping receipt" %}
                       </a>
                       </li>
                  -->

            <!-- Bill. No need to choose a client, we know it. -->
                  <li><a href="/institutions/client/{{ client.pk }}/export?format=pdf&report=bill&bill_or_estimate=1"
                          title="{% trans "Create a bill for a client" %}">
                    {% trans "Bill" %}…</a>
                  </li>

            <!--
                 <li><a href="/baskets/{{ basket.pk }}/export?format=pdf&report=bill&barcodes=true&covers=false&client_id={{ client.pk }}&bill_or_estimate=2&is_institution=true"
                 title="{% trans "Create an estimate for a client" %}">
                 {% trans "Estimate" %}…</a>
                 </li>
            -->
                </ul>
              </div>
            </div>

            <!-- <div id="import-menu" class="btn-group">
                 <div class="dropdown">
                 <button
                 data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false" title="{% trans 'Import files' %}" class="btn btn-success dropdown-toggle">{% trans "Import" %}<span class="caret"></span>
                 </button>
                 <ul class="dropdown-menu">
                 <li><a href="/import?source=institutions&id={{ 'cur_basket.id' | ng }}" title="">{% trans "isbn and quantity (Dilicom)" %} - csv</a>
                 </li>
                 </ul>
                 </div>
                 </div>
            -->

            <div class="btn-group">
              <!-- <button ng-click="toggle_images()" title="{% trans "Hide and show covers (d)" %}" class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i>
                   </button>
                   <button type="button" title="{% trans "Show your notes (n)" %}" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i> -->
                </button><a href="http://abelujo.cc/docs/lists/" target="_blank" title="{% trans "Read the documentation" %}" class="btn btn-default"><i class="glyphicon glyphicon-question-sign"></i></a>
            </div>
          </div>


        </div>

        <!-- <div><span ng-show="cur_basket.created">{% trans "Created" %}: {{ 'cur_basket.created | date: "mediumDate"' | ng }}</span>
             <span ng-show="selected_client">&nbsp;&bull; {% trans "Client" %}: {{ 'selected_client' | ng }}</span>

             {% if archived_on %}
             <span id="archived_on_id">&nbsp;&bull; {% trans "Archived on" %}: {{ 'cur_basket.archived_date' | ng }}</span><span ng-show="cur_basket.dist_repr"><span>&nbsp;&bull; {% trans "supplier" %}: <span id="supplier" style="padding: 3px">{{ 'cur_basket.dist_repr' | ng }}</span></span></span>
             {% endif %}
             </div>

             {% if weight %}
             <div ng-hide="cur_basket.id == -99" ng-show="( boxes_page || returns_page ) && meta.total_weight_kg">{% trans "Weight:" %}  {{ 'meta.total_weight_kg' | ng }}Kg</div>
             {% endif %}

             {% if comment %}
             <div class="media" ng-show="cur_basket.comment && ! showing_notes" style="margin: 5px">
             <div class="media-left">
             <i class="glyphicon glyphicon-comment"> </i>
             </div>
             <div class="media-body">
             <h4 class="media-heading">
             <!-- Use Angular's sanitize? ng-bind-html? Could not find a "safe" filter. -->
        <pre>{{ 'cur_basket.comment' | ng }}</pre>
</h4>
      </div>

    <div ng-show="showing_notes">
      <div><textarea cols="80" rows="6" ng-model="cur_basket.comment"></textarea>
      </div>
      <button ng-click="save_basket()" class="button btn btn-default">{% trans "Save" %}</button>
    </div>
    {% endif %}

    <div ng-show="cur_basket.sold_date">
      <div>{% trans "Sold date" %}: {{ 'cur_basket.sold_date' | ng }}</div>
    </div>
    -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-8" style="padding-top: 1em">

        <div class="panel panel-default">
          <div class="panel-heading"> {% trans "Summary" %} </div>
          <div class="panel-body">
            <div>
              {{ nb_titles }} {% trans "titles" %} / {{ nb_copies }} {% trans "copies" %}
            </div>

            <div>
              {% trans "total" %}: {{ total }} / {{ DEFAULT_INSTITUTION_DISCOUNT }}%: {{ total_discounted }}
            </div>

          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading"> {% trans "Commands" %} </div>
          <div class="panel-body">
            {% for basket in baskets %}
            <div>
              {% trans "Basket" %}  {{ basket.name }} {% trans "ready?" %} {{ basket.is_all_received }}
            </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>

</div>
<!-- end list-content -->
